$mainColor: #ff754e;
$secondMainColor: #ffffffff;
$backgroundImge: linear-gradient($mainColor, #ff9374);
$textAlign: center;
@import "../../../shared/Scss/course-card-style.scss";

.subcategoryHeader {
  font-size: 28px;
  color: #ff754e;
}

.nav .nav-item .active {
  height: 50px;
  text-align: center;
  color: white;
  background-color: #ff754e;
  border: none;
  border-radius: 7px;
  font-size: 20px;
}

.nav-item>a {
  color: #c0c0c0;
}

.subcategoryDetails {
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}