<!-- <app-navbar></app-navbar> -->
<div class="container">
  <!-- <div class="row">
    <div class="col-xl-6 col-lg-6 col-12">
      <div class="avatar-upload">
        <h2>Course Image</h2>
        <div class="avatar-edit">
          <input
            type="file"
            id="imageUpload"
            accept=".png, .jpg, .jpeg"
            (change)="fileChanged($event)"
          />
          <label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
        </div>
        <div class="avatar-preview">
          <div id="imagePreview"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-12">
      <div class="video-upload">
        <h2>Course Video</h2>
        <div class="video-edit">
          <input
            type="file"
            id="videoUpload"
            accept=".png, .jpg, .jpeg, .mp3, .mp4"
            (change)="videoChanged($event)"
          />
          <label for="videoUpload"><i class="fas fa-pencil-alt"></i></label>
        </div>
        <div class="video-preview">
          <div id="videoPreview">
            <video *ngIf="videoSrc" class="videoSRC">
              <source [src]="videoSrc" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <form [formGroup]="courseForm">
    <div class="form-row">
      <div class="form-group mx-auto">
        <div class="avatar-upload">
          <h2>Course Image</h2>
          <div class="avatar-edit">
            <input
              type="file"
              id="imageUpload"
              accept="image/*"
              (change)="fileChanged($event)"
              
            />
            <label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
          </div>
          <div class="avatar-preview">
            <div id="imagePreview"></div>
          </div>
        </div>
        <div
          *ngIf="
            submitted ||
            (courseForm.get('courseImage').invalid &&
              (courseForm.get('courseImage').dirty ||
                courseForm.get('courseImage').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.courseImage.errors?.required"
          >
            <sup>*</sup>Please enter Course Start Date
          </div>
        </div>
      </div>
      <!-- <div class="form-group col-md-6">
        <div class="video-upload">
          <h2>Course Video</h2>
          <div class="video-edit">
            <input
              type="file"
              id="videoUpload"
              accept="video/*"
              (change)="videoChanged($event)"
            />
            <label for="videoUpload"><i class="fas fa-pencil-alt"></i></label>
          </div>
          <div class="video-preview">
            <div id="videoPreview">
              <video *ngIf="videoSrc" class="videoSRC">
                <source [src]="videoSrc" />
              </video>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="form-row mt-3">
      <div class="form-group col-md-5">
        <label for="inputName4">Course Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName4"
          placeholder="Name"
          formControlName="courseName"
          [ngClass]="{
            error: submitted && courseForm.controls.courseName.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('courseName').invalid &&
              (courseForm.get('courseName').dirty ||
                courseForm.get('courseName').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.courseName.errors?.required"
          >
            <sup>*</sup>Please enter Course Name
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.courseName.errors?.pattern"
          >
            <sup>*</sup>Course Name accept letter and number only
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.description.errors?.minLength"
          >
            <sup>*</sup> Minimum length is 2
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.description.errors?.maxLength"
          >
            <sup>*</sup> Maximum length is 200
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="inputPassword4">Course Place</label>
        <input
          type="text"
          class="form-control"
          id="inputPlace4"
          placeholder="Place"
          formControlName="coursePlace"
          [ngClass]="{
            error: submitted && courseForm.controls.coursePlace.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('coursePlace').invalid &&
              (courseForm.get('coursePlace').dirty ||
                courseForm.get('coursePlace').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.coursePlace.errors?.required"
          >
            <sup>*</sup>Please enter Course Place
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.coursePlace.errors?.pattern"
          >
            <sup>*</sup>Course Place accept letter and number only
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.coursePlace.errors?.minLength"
          >
            <sup>*</sup> Minimum length is 3
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.coursePlace.errors?.maxLength"
          >
            <sup>*</sup> Maximum length is 200
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputDescription">Course Description</label>
        <textarea
          class="form-control"
          formControlName="description"
          [ngClass]="{
            error: submitted && courseForm.controls.description.errors
          }"
          id="Description"
          rows="3"
        ></textarea>

        <div
          *ngIf="
            submitted ||
            (courseForm.get('description').invalid &&
              (courseForm.get('description').dirty ||
                courseForm.get('description').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.description.errors?.required"
          >
            <sup>*</sup>Please enter Course Description
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.description.errors?.pattern"
          >
            <sup>*</sup>Course Description accept letter and number only
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.description.errors?.minLength"
          >
            <sup>*</sup> Minimum length is 778
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.description.errors?.maxLength"
          >
            <sup>*</sup> Maximum length is 946
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="inputCategory">Course Category</label>
        <select
          id="inputCategory"
          class="form-control"
          formControlName="courseCategory"
          [ngClass]="{
            error: submitted && courseForm.controls.courseCategory.errors
          }"
        >
          <option disabled [selected]="true">Category ...</option>
          <option *ngFor="let category of Categories" [ngValue]="category">{{
            category
          }}</option>
        </select>

        <div
          *ngIf="
            submitted ||
            (courseForm.get('courseCategory').invalid &&
              (courseForm.get('courseCategory').dirty ||
                courseForm.get('courseCategory').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.courseCategory.errors?.required"
          >
            <sup>*</sup>Please enter Course Category
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputPrevious4">Previous Price</label><br />
        <label for="inputPrevious4"
          >*If there's discount, put the price before the discount.</label
        >
        <input
          type="number"
          class="form-control"
          id="inputPrevious4"
          formControlName="previousSalary"
          [ngClass]="{
            error: submitted && courseForm.controls.previousSalary.errors
          }"
          placeholder="Before Discount"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('previousSalary').invalid &&
              (courseForm.get('previousSalary').dirty ||
                courseForm.get('previousSalary').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.previousSalary.errors?.pattern"
          >
            <sup>*</sup>Previous Salary accept number only
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="inputSalary4">Price</label><br />
        <label for="inputSalary4"
          >*If the course for free, put the price equal zero.</label
        >
        <input
          type="number"
          class="form-control"
          id="inputSalary4"
          formControlName="salary"
          [ngClass]="{
            error: submitted && courseForm.controls.salary.errors
          }"
          placeholder="After Discount"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('salary').invalid &&
              (courseForm.get('salary').dirty ||
                courseForm.get('salary').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.salary.errors?.required"
          >
            <sup>*</sup>Please enter Salary
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.salary.errors?.pattern"
          >
            <sup>*</sup>Course Salary accept number only
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputPrevious4">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate4"
          placeholder="Start Date"
          formControlName="startDate"
          [ngClass]="{
            error: submitted && courseForm.controls.startDate.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('startDate').invalid &&
              (courseForm.get('startDate').dirty ||
                courseForm.get('startDate').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.startDate.errors?.required"
          >
            <sup>*</sup>Please enter Course Start Date
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="inputAttendance4">Attendance Number</label>
        <input
          type="number"
          class="form-control"
          id="inputAttendance4"
          placeholder="Attendance Number"
          formControlName="attendanceNumber"
          [ngClass]="{
            error: submitted && courseForm.controls.attendanceNumber.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('attendanceNumber').invalid &&
              (courseForm.get('attendanceNumber').dirty ||
                courseForm.get('attendanceNumber').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.attendanceNumber.errors?.required"
          >
            <sup>*</sup>Please enter Attendance Number
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.attendanceNumber.errors?.pattern"
          >
            <sup>*</sup>Attendance Number accept number only
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputPrevious4">number of times course in week?</label>
        <input
          type="number"
          class="form-control"
          id="timesInWeek"
          placeholder="Times In Week"
          formControlName="timesInWeek"
          [ngClass]="{
            error: submitted && courseForm.controls.timesInWeek.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('timesInWeek').invalid &&
              (courseForm.get('timesInWeek').dirty ||
                courseForm.get('timesInWeek').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.timesInWeek.errors?.required"
          >
            <sup>*</sup>Please enter number of times course In Week
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.timesInWeek.errors?.pattern"
          >
            <sup>*</sup>Times In Week accept number only
          </div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="inputAttendance4">Number Of Course Material?</label>
        <input
          type="number"
          class="form-control"
          id="inputAttendance4"
          placeholder="Number Of Material"
          formControlName="numOfMaterial"
          [ngClass]="{
            error: submitted && courseForm.controls.numOfMaterial.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('numOfMaterial').invalid &&
              (courseForm.get('numOfMaterial').dirty ||
                courseForm.get('numOfMaterial').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.numOfMaterial.errors?.required"
          >
            <sup>*</sup>Please enter Number Of Material
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.numOfMaterial.errors?.pattern"
          >
            <sup>*</sup>Number Of Material accept number only
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputPrevious4">Number of Exercises</label>
        <input
          type="number"
          class="form-control"
          id="startDate4"
          placeholder="Number of Exercises"
          formControlName="exercise"
          [ngClass]="{
            error: submitted && courseForm.controls.exercise.errors
          }"
        />
        <div
          *ngIf="
            submitted ||
            (courseForm.get('exercise').invalid &&
              (courseForm.get('exercise').dirty ||
                courseForm.get('exercise').touched))
          "
          class="validall"
        >
          <div
            class="validall"
            *ngIf="courseForm.controls.exercise.errors?.required"
          >
            <sup>*</sup>Please enter Course Exercises Number
          </div>
          <div
            class="validall"
            *ngIf="courseForm.controls.exercise.errors?.pattern"
          >
            <sup>*</sup>Number Of Exercise accept number only
          </div>
        </div>
      </div>
      <div class="form-group col-md-5 ml-3 mt-2">
        <label for="inputAttendance4 ">Is there a Certificate?</label>
        <br class="mb-5" />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="inlineRadio1"
            name="certificate"
            formControlName="certificate"
            value="true"
          />
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="inlineRadio2"
            name="certificate"
            formControlName="certificate"
            value="false"
          />
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="inputPrevious4">What Will Student Learn?</label>
        <div
          *ngFor="let learnpoint of getLearnPointFormControls(); let i = index"
        >
          <div class="input-group mb-3">
            <input
              type="text"
              [formControl]="learnpoint"
              class="form-control"
              placeholder="Learn Point"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary removeLearnPoint"
                (click)="removeLearnPoint(i)"
                type="button"
                id="button-addon2"
              >
                X
              </button>
            </div>
          </div>
        </div>
        <div class="parentAddBtn">
          <button class="addBtn" (click)="addLearnPoint()">Add</button>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="inputPrevious4">What are course prerequists?</label>
        <div
          *ngFor="let prerequist of getPrerequistFormControls(); let i = index"
        >
          <div class="input-group mb-3">
            <input
              type="text"
              [formControl]="prerequist"
              class="form-control"
              placeholder="prerequists"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary removePrerequist"
                (click)="removePrerequist(i)"
                type="button"
                id="button-addon2"
              >
                X
              </button>
            </div>
          </div>
        </div>
        <div class="parentAddBtn">
          <button class="addBtn" (click)="addPrerequist()">Add</button>
        </div>
      </div>
    </div>
    <div class="upperSubmitBtn">
      <button
        type="submit"
        class="btn btn-primary submitBtn"
        (click)="courseformSubmit()"
  
      >
        SAVE
      </button>
    </div>
  </form>
</div>
<!--       [disabled]="submitted" -->