.container-fluid {
    background-color: #ffffff;
}

.container {
    line-height: 50px;
}

.InstructorHeader {
    color: #FF754E;
}

.createCourseForm {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 50px auto;
    padding: 50px;
    box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.15);
}

label {
    line-height: 30px;
}

.embed-responsive {

    border-radius: 20px;
}

label {
    font-weight: bold;
}

.donate-now {
    list-style-type: none;
    position: relative;
    /* margin:150px 0 150px 0;
    margin-top: 50px;
    margin-bottom: 50px; */
    padding: 0;
}

.donate-now li {
    display: flex;
}

.donate-now label span {
    text-align: center;
    position: absolute;
    bottom: -8px;
    left: 8px;

}

.donate-now li label {
    position: absolute;
    display: flex;
    text-align: center;
    /* top:5px; */
}

.donate-now li {
    float: left;
    margin: 0 25px 0 0;
    width: 150px;
    height: 40px;
    position: relative;
    padding: 5px auto;


}

.donate-now label {
    display: inline-block;
    position: absolute;
    border: none;
    border-radius: 7px;
    padding: 7px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

}

.donate-now input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.donate-now input[type="radio"]:checked+label {
    background: #FF754E;
}

.donate-now label {
    padding: 5px;
    position: absolute;
    text-align: center;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.donate-now label:hover {
    background: #DDD;
}

.submitButton {
    margin-top: 20px;
    background: #FF754E;
    border: none;
    width: 110px;
    height: 40px;
    border-radius: 10px;
}

/*  */
.moreInfo {
    display: none
}

.validall {
    color: red;

}