.korsatyInfo {
    background-color: #ffffff;
}

.contactForm {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.15);
    padding-top: 20px;

}

.submitBtn {
    padding-bottom: 20px;

    input {
        background-color: #FF754E;
        border-color: #FF754E;
    }
}

label {
    color: #FF754E;
    font-size: 18px;
}

h2 {
    color: #FF754E;
    font-size: 30px;
}

h4 {
    font-weight: bold;
    color: #FF754E;
    font-size: 25px;
}

.contactInfo {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 30px;

    box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.15);
}