$mainColor: #ff754e;
$secondMainColor: #ffffffff;
$backgroundImge: linear-gradient($mainColor, #ff9374);
$textAlign: center;


/* instructor card */
.instructorInfo {
    background-color: $secondMainColor;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.15);
}

.instructorIMG {
    width: 190px;
    height: 200px;
    border-radius: 90%;
}


.instructorRate {
    text-align: center;
}

.instructorRateStars {
    text-align: center;
}

.instructorInfo h2 {
    font-size: 30px;
    color: #FF754E;
}

.instructorFollow {
    background-image: $backgroundImge;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 110px;

}

.instructorInfo .instructorJob {
    color: #A2A2A2;
    font-size: 20px;
}

.instructorInfo .instructorbrief {
    font-size: 18px;
}

.instructorStatistics {
    background-color: $secondMainColor;
    border: none;
    border-radius: 15px;
    padding-top: 20px;
    box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.15);
}

.instructorStatistics .instructorStatisticsInfo {
    font-size: 18px;
    color: #FF754E;
    text-align: center;

}

.instructorStatistics .instructorStatisticsResult {
    font-size: 18px;
    color: #000000;
    text-align: center;
}


// // large screen design 
// .card {
//     border-radius: 20px;
// }

// .card img {
//     height: 280px;
// }

// .card-text {
//     width: 14.5rem;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     // margin-bottom: 10px;
//     height: 20px;
// }

// .photoInfo {
//     position: relative;
// }

// .cardHeader {
//     position: relative;
// }

// .card-info-button {
//     position: relative;
//     bottom: 20px;
// }

// .category {
//     background-image: $backgroundImge;
//     border-radius: 9px;
//     position: absolute;
//     margin-left: 15px;
//     width: 90px;
//     height: 30px;
//     text-align: $textAlign;
//     color: $secondMainColor;
//     padding: 5px;
//     top: 250px;
// }

// .strikethroughPriceDiscount {
//     text-decoration: line-through;
//     color: #ACACAC;
//     display: inline;
// }

// .Discount {
//     display: inline;
// }

// circle-progress {
//     position: absolute;
//     left: 170px;
// }

// .location {
//     position: absolute;
//     background-image: linear-gradient(#4a43db, #716af6);
//     border-radius: 9px;
//     color: $secondMainColor;
//     width: 90px;
//     height: 30px;
//     padding: 7px;
//     top: 250px;
// }

// .location .locationPlace {
//     display: inline;
// }

// .cardTopRated {
//     width: 16rem;

//     .cardBodyTopRated {
//         line-height: 10px;
//     }

//     .discountBTN {
//         // position: absolute;
//         background-color: transparent;
//         // border: .5px solid black;
//         width: 90px;
//         // height: 30px;
//         // padding-top: 7px;
//         // padding-bottom: 7px;
//         text-align: center;
//         color: $mainColor;
//         font-size: 20px;


//     }

//     // .bookStyle {
//     //     position: absolute;
//     //     bottom: 0;

//     .bookNow {
//         position: absolute;
//         background-image: $backgroundImge;
//         border-color: $mainColor;
//         width: 160px;
//         height: 45px;
//         border-top-left-radius: 0px;
//         border-top-right-radius: 7px;
//         border-bottom-right-radius: 0px;
//         border-bottom-left-radius: 20px;
//         left: 0;
//         bottom: 0;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         // }

//     }

//     .heartStle {
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         margin-right: 30px;

//         .fa-heart {
//             // position: absolute;
//             // bottom: 0;
//             font-size: 40px;
//             color: $mainColor;

//         }

//     }
// }

// //small screens 
// .booNowBtn {
//     .bookNowSmallScreen {
//         position: absolute;
//         background-image: $backgroundImge;
//         width: 160px;
//         height: 45px;
//         display: table-cell;
//         vertical-align: middle;
//         border-color: $mainColor;
//         border-top-left-radius: 7px;
//         border-top-right-radius: 0px;
//         border-bottom-right-radius: 0px;
//         border-bottom-left-radius: 0px;
//         bottom: 0;
//         right: 0;
//     }
// }

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//     .cardTopRated {
//         // width: 14rem;
//         width: 100%;

//     }

//     .card-info {
//         position: relative;
//         // height: 5rem;

//         .card-img-top {
//             height: 5rem;

//         }

//         circle-progress {
//             position: absolute;
//             left: 130px;
//         }
//     }

//     .ngx-stars {
//         border-radius: 5px;
//         border: thin solid #444;
//     }

//     .heartStle {
//         // position: absolute;
//         // bottom: 0;
//         // margin-right: 30px;

//         .fa-heart {
//             font-size: 30px;
//             color: $mainColor;
//         }
//     }

// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//     .cardTopRated {
//         // width: 14.5rem;
//         width: 100%;

//     }

//     circle-progress {
//         position: absolute;
//         left: 150px;
//     }

//     .heartStle {
//         // position: absolute;
//         // bottom: 0;
//         // margin-right: 30px;

//         .fa-heart {
//             font-size: 35px;
//             color: $mainColor;
//         }
//     }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//     .cardTopRated {
//         // width: 16rem;
//         width: 100%;

//     }

//     .heartStle {
//         // position: absolute;
//         // bottom: 0;
//         // margin-right: 30px;

//         .fa-heart {
//             font-size: 40px;
//             color: $mainColor;
//         }
//     }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//     .cardTopRated {
//         width: 16rem;
//     }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//     .cardTopRated {
//         width: 16rem;
//     }

// }




.favouritHeader {
    font-size: 30px;
    color: #FF754E;
}

.card {
    border-radius: 20px;

    .card-img-top {
        height: 15rem
    }

    .cardBodyTopRated {
        line-height: 10px;

        .card-text {
            width: 14.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 20px;
        }

        .strikethroughPriceDiscount {
            text-decoration: line-through;
            color: #ACACAC;
            display: inline;
        }

        .Discount {
            display: inline;
        }

        .discountBTN {
            background-color: transparent;
            text-align: center;
            color: $mainColor;
            font-size: 20px;
        }

        .bookNow {
            position: absolute;
            background-image: $backgroundImge;
            border-color: $mainColor;
            width: 160px;
            height: 45px;
            border-top-left-radius: 0px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 20px;
            left: 0;
            bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .heartStle {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 30px;

            .empty-heart {
                font-size: 40px;
                color: $mainColor;
            }

        }

        .full-heart {
            font-size: 40px;
            color: $mainColor;

        }
    }
}

.circleProgress {
    position: relative;
}

circle-progress {
    position: absolute;
    left: 240px;
    top: -15px;
}




.category {
    background-image: $backgroundImge;
    border-radius: 9px;
    position: absolute;
    margin-left: 15px;
    width: 90px;
    height: 30px;
    text-align: $textAlign;
    color: $secondMainColor;
    padding: 5px;
    top: 250px;
}

.location {
    position: absolute;
    background-image: linear-gradient(#4a43db, #716af6);
    border-radius: 9px;
    color: $secondMainColor;
    width: 90px;
    height: 30px;
    padding: 7px;
    top: 250px;
}

.location .locationPlace {
    display: inline;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .card-img-top {
        height: 5rem
    }

    .card-text {
        width: 30rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
    }

    .heartStle {
        margin-right: 10px;
    }

    .instructorIMGPosition {
        text-align: center;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cardWidth {
        width: 16.5rem;

        circle-progress {
            position: absolute;
            left: 150px;
        }
    }

    .instructorIMGPosition {
        text-align: center;

    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cardWidth {
        width: 14.5rem;

        .heartStle {
            margin-right: 10px;
        }
    }

    .instructorDefining {
        padding-left: 50px;
    }

    .instructorIMGPosition {
        text-align: center;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cardWidth {
        width: 19rem;
    }

    .instructorIMGPosition {
        text-align: center;
        padding-left: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cardWidth {
        width: 17rem;
    }

    .instructorIMGPosition {
        text-align: center;
        padding-left: 100px;
    }
}