$mainColor: #ff754e;
$secondMainColor: #ffffffff;
$backgroundImge: linear-gradient($mainColor, #ff9374);
$textAlign: center;

@import "../../../shared/Scss/course-card-style.scss";

/* instructor card */
.instructorInfo {
    background-color: $secondMainColor;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.15);
}

.instructorIMG {
    width: 190px;
    height: 200px;
    border-radius: 90%;
}


.ngxStarStyle {
    text-align: center;
    padding-left: 130px;
}

.instructorInfo h2 {
    font-size: 30px;
    color: #FF754E;
}

.instructorFollow {
    background-image: $backgroundImge;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 110px;

}

.instructorInfo .instructorJob {
    color: #A2A2A2;
    font-size: 20px;
}

.instructorInfo .instructorbrief {
    font-size: 18px;
}

.instructorStatistics {
    background-color: $secondMainColor;
    border: none;
    border-radius: 15px;
    padding-top: 20px;
    box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.15);
}

.instructorStatistics .instructorStatisticsInfo {
    font-size: 18px;
    color: #FF754E;
    text-align: center;

}

.instructorStatistics .instructorStatisticsResult {
    font-size: 18px;
    color: #000000;
    text-align: center;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .instructorIMGPosition {
        text-align: center;

    }

    .ngxStarStyle {
        padding-left: 130px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .instructorIMGPosition {
        text-align: center;
    }

    .ngxStarStyle {
        padding-left: 160px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .instructorDefining {
        padding-left: 50px;
    }

    .instructorIMGPosition {
        text-align: center;
    }

    .ngxStarStyle {
        padding-left: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .instructorIMGPosition {
        text-align: center;
        padding-left: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .instructorIMGPosition {
        text-align: center;
        padding-left: 100px;
    }

}