<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
  <div class="row">
    <!-- carousel section -->
    <carousel [showIndicators]="showIndicators">
      <slide style="vertical-align: middle;">
        <img
          class="carouselImg"
          src="../../../assets/login/slider6.png"
          alt="first slide"
          style="display: block; width: 100%;"
        />
        <div class="carousel-caption slogan d-none d-md-block">
          <div class="startSlogann">Start Learnin For</div>
          <h2>
            SUCCESS FUTURE
          </h2>
          <div class="finishSlogann">The Best Solution</div>
        </div>
      </slide>
      <slide>
        <img
          class="carouselImg"
          src="../../../assets/login/slider4.png"
          alt="second slide"
          style="display: block; width: 100%;"
        />
        <div class="carousel-caption slogan d-none d-md-block">
          <div class="startSlogann">Start Learnin For</div>
          <h2>
            SUCCESS FUTURE
          </h2>
          <div class="finishSlogann">The Best Solution</div>
        </div>
      </slide>
      <slide>
        <img
          class="carouselImg"
          src="../../../assets/login/slider5.png"
          alt="third slide"
          style="display: block; width: 100%;"
        />
        <div class="carousel-caption slogan d-none d-md-block">
          <div class="startSlogann">Start Learnin For</div>
          <h2>
            SUCCESS FUTURE
          </h2>
          <div class="finishSlogann">The Best Solution</div>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="row">
  <!-- <div class="searchform searchform col-lg-9 col-md-11 col-sm-12 col-11 mx-auto"> -->
  <div class="searchForm offset-2 col-lg-8 col-md-8 col-sm-8 col-8">
    <form class="row pl-xl-3 pl-lg-2" [formGroup]="searchformm">
      <div class="form-group col-lg-5 col-md-6">
        <input
          type="password"
          class="form-control mr-lg-4 mr-md-1"
          formControlName="coursecategory"
          placeholder="Courses"
        />
      </div>
      <div class="form-group col-lg-5 col-md-6">
        <input
          type="password"
          class="form-control mr-md-2"
          formControlName="location"
          placeholder="Location"
        />
      </div>
      <div class="form-group col-lg-1 col-md-12 col-sm-12 col-12 pl-lg-2">
        <!-- <div class="searchBtnStyle"> -->
        <button type="submit" class="btn">
          Search
        </button>
        <!-- </div> -->
      </div>
    </form>
  </div>
</div>

<br />
<div class="container">
  <div>
    <h2 class="mt-1 mb-3">TOP RATED</h2>
  </div>
  <owl-carousel
    id="owl"
    [options]="{
      items: 4,
      loop: true,
      mouseDrag: true,
      touchDrag: true,
      pullDrag: true,
      margin: 10,
      dots: true,
      navSpeed: 200,
      responsive: {
        '0': { items: 1 },
        '576': { items: 2 },
        '600': { items: 2 },
        '768': { items: 2 },
        '992': { items: 3 },
        '1200': { items: 4 }
      }
    }"
    [items]="images"
    [carouselClasses]="['owl-theme', 'mx-auto', 'row', 'sliding']"
  >
    <div class="mx-auto" *ngFor="let x of y; let i = index">
      <div class="card cardWidth mb-3">
        <div class="circleProgress">
          <circle-progress
            [percent]="x.coursRegistration"
            [radius]="6"
            [outerStrokeWidth]="1"
            [innerStrokeWidth]="1"
            [space]="-1"
            [outerStrokeColor]="'#ff754e'"
            [innerStrokeColor]="'#e7e8ea'"
            [titleColor]="'#fff'"
            [unitsColor]="'#fff'"
            [titleFontSize]="4"
            [unitsFontSize]="4"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="100"
            [startFromZero]="false"
            [responsive]="true"
          ></circle-progress>
        </div>

        <img src="{{ x.img }}" class="card-img-top" alt="..." />
        <div class="card-body cardBodyTopRated">
          <div class="row mb-2 ml-1 ml-sm-0">
            <h5 class="card-title">{{ x.title }}</h5>
          </div>
          <div class="row mb-1 ml-1 ml-sm-0">
            <p class="card-text course-text">{{ x.description }}</p>
          </div>
          <div class="row mt-1 ml-1 ml-sm-0">
            <ngx-stars
              [readonly]="false"
              [size]="2"
              [color]="'#FDCC0D'"
              [initialStars]="totalRate"
              [customStarIcons]="heartIcons"
              (ratingOutput)="onRatingSet($event)"
            ></ngx-stars>
          </div>
          <br /><br />
          <div class="row mt-1 ml-1 ml-sm-0">
            <p class="strikethroughPriceDiscount">
              {{ x.anotherDiscount }}
            </p>
            <p class="Discount mx-3">{{ x.Discount }}</p>
            <div class="discountBTN">{{ x.buttonText }}</div>
          </div>
          <br />
          <div class="row mt-4">
            <a href="#" class="btn btn-primary bookNow mr-3">BOOK NOW</a>

            <div class="heartStle ml-4 ml-sm-0" (click)="addFavourite(x.id, i)">
              <i
                [ngClass]="
                  fourite.indexOf(x.id) !== -1
                    ? 'fas fa-heart full-heart'
                    : 'far fa-heart empty-heart'
                "
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="topRatedCourses">
      <div
        class="mx-auto"
        *ngFor="let course of topRatedCourses; let i = index"
      >
        <div class="card cardWidth mb-3 mr-1">
          <div class="circleProgress"></div>
          <a [routerLink]="['/course/', course?._id._id]" class="coursLink">
            <img
              [src]="(course?._id.mainImage)[0].url"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body cardBodyTopRated">
            <div class="row mb-2 ml-1 ml-sm-0">
              <a [routerLink]="['/course/', course?._id._id]" class="coursLink">
                <h5 class="card-title">{{ course?._id.courseName }}</h5>
              </a>
            </div>
            <div class="row mb-1 ml-1 ml-sm-0">
              <a [routerLink]="['/course/', course?._id._id]" class="coursLink">
                <p class="card-text">{{ course?._id.courseDescription }}</p>
              </a>
            </div>
            <div class="row mt-1 ml-1 ml-sm-0">
              <app-rate-course
                [courseId]="course?._id._id"
                [courseRate]="course?._id.rate"
              ></app-rate-course>
            </div>
            <br /><br />
            <div class="row mt-1 ml-1 ml-sm-0">
              <p class="strikethroughPriceDiscount">
                {{ course?._id.priviousSalary }}
              </p>
              <p class="Discount mx-3">{{ course?._id.salary }}</p>
              <div class="discountBTN">
                {{
                  100 - (course?._id.salary / course?._id.priviousSalary) * 100
                    | intNumber
                }}%
              </div>
            </div>
            <br />
            <div class="row mt-4">
              <a href="#" class="btn btn-primary bookNow mr-3">BOOK NOW</a>

              <app-favorite-button
                class="heartStle ml-4 ml-sm-0"
                [user]="userData"
                [courseId]="course?._id._id"
                (toggle)="onToggleFavorite($event)"
              >
              </app-favorite-button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </owl-carousel>

  <div>
    <h2 class="mt-1 mb-3">New Courses</h2>
  </div>

  <owl-carousel
    id="owl"
    [options]="{
      items: 4,
      loop: true,
      mouseDrag: true,
      touchDrag: true,
      pullDrag: true,
      margin: 10,
      dots: true,
      navSpeed: 200,
      responsive: {
        '0': { items: 1 },
        '576': { items: 2 },
        '600': { items: 2 },
        '768': { items: 2 },
        '992': { items: 3 },
        '1200': { items: 4 }
      }
    }"
    [items]="images"
    [carouselClasses]="['owl-theme', 'mx-auto', 'row', 'sliding']"
  >
    <!-- <div *ngIf="newCourses">
      <div class="mx-auto" *ngFor="let course of newCourses; let i = index">
        <div class="card cardWidth mb-3">
          <div class="circleProgress"></div>
          <a [routerLink]="['/course/', course._id]" class="coursLink">
            <img
              [src]="(course?.mainImage)[0].url"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body cardBodyTopRated">
            <div class="row mb-2 ml-1 ml-sm-0">
              <a [routerLink]="['/course/', course._id]" class="coursLink">
                <h5 class="card-title">{{ course?.courseName }}</h5>
              </a>
            </div>
            <div class="row mb-1 ml-1 ml-sm-0">
              <a [routerLink]="['/course/', course._id]" class="coursLink">
                <p class="card-text">{{ course?.courseDescription }}</p>
              </a>
            </div>
            <div class="row mt-1 ml-1 ml-sm-0">
              <app-rate-course
                [courseId]="course?._id"
                [courseRate]="course?.rate"
              ></app-rate-course>
            </div>
            <br /><br />
            <div class="row mt-1 ml-1 ml-sm-0">
              <p class="strikethroughPriceDiscount">
                {{ course?.priviousSalary }}
              </p>
              <p class="Discount mx-3">{{ course?.salary }}</p>
              <div class="discountBTN">
                {{
                  100 - (course?.salary / course?.priviousSalary) * 100
                    | intNumber
                }}%
              </div>
            </div>
            <br />
            <div class="row mt-4">
              <a href="#" class="btn btn-primary bookNow mr-3">BOOK NOW</a>

              <app-favorite-button
                class="heartStle ml-4 ml-sm-0"
                [user]="userData"
                [courseId]="course?._id"
                (toggle)="onToggleFavorite($event)"
              >
              </app-favorite-button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--  -->
    <!--  -->
    <div class="mx-auto" *ngFor="let x of y; let i = index">
      <div class="card cardWidth mb-3">
        <div class="circleProgress">
          <circle-progress
            [percent]="x.coursRegistration"
            [radius]="6"
            [outerStrokeWidth]="1"
            [innerStrokeWidth]="1"
            [space]="-1"
            [outerStrokeColor]="'#ff754e'"
            [innerStrokeColor]="'#e7e8ea'"
            [titleColor]="'#fff'"
            [unitsColor]="'#fff'"
            [titleFontSize]="4"
            [unitsFontSize]="4"
            [showSubtitle]="false"
            [animation]="true"
            [animationDuration]="100"
            [startFromZero]="false"
            [responsive]="true"
          ></circle-progress>
        </div>

        <img src="{{ x.img }}" class="card-img-top" alt="..." />
        <div class="card-body cardBodyTopRated">
          <div class="row mb-2 ml-1 ml-sm-0">
            <h5 class="card-title">{{ x.title }}</h5>
          </div>
          <div class="row mb-1 ml-1 ml-sm-0">
            <p class="card-text course-text">{{ x.description }}</p>
          </div>
          <div class="row mt-1 ml-1 ml-sm-0">
            <ngx-stars
              [readonly]="false"
              [size]="2"
              [color]="'#FDCC0D'"
              [initialStars]="totalRate"
              [customStarIcons]="heartIcons"
              (ratingOutput)="onRatingSet($event)"
            ></ngx-stars>
          </div>
          <br /><br />
          <div class="row mt-1 ml-1 ml-sm-0">
            <p class="strikethroughPriceDiscount">
              {{ x.anotherDiscount }}
            </p>
            <p class="Discount mx-3">{{ x.Discount }}</p>
            <div class="discountBTN">{{ x.buttonText }}</div>
          </div>
          <br />
          <div class="row mt-4">
            <a href="#" class="btn btn-primary bookNow mr-3">BOOK NOW</a>

            <div class="heartStle ml-4 ml-sm-0" (click)="addFavourite(x.id, i)">
              <i
                [ngClass]="
                  fourite.indexOf(x.id) !== -1
                    ? 'fas fa-heart full-heart'
                    : 'far fa-heart empty-heart'
                "
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </owl-carousel>

  <div>
    <h2 class="my-5">INSTRUCTORS</h2>
  </div>
  <div class="row my-5">
    <div
      class="col-lg-3 col-md-6 col-xs-6 col-6 mx-auto"
      *ngFor="let eachInstructor of topRatedInst"
    >
      <div class="card instructorCard mb-5 mr-2" style="width: 14rem;">
        <div class="cardHeader" style="height: 10rem;">
          <div class="card-info text-center">
            <img
              src="{{ (eachInstructor?._id.userId.image)[0].url }}"
              class="card-img-top rounded-circle instrucrorImg mt-4"
              [routerLink]="['/instpage/', eachInstructor?._id._id]"
              alt="..."
              style="height: 8rem;"
            />
          </div>
        </div>
        <div class="card-body">
          <h5
            class="card-title text-center instrucrorName"
            [routerLink]="['/instpage/', eachInstructor?._id._id]"
          >
            {{ eachInstructor?._id.userId.fullname }}
          </h5>
          <p class="card-text text-center instrucrorJob">
            {{ eachInstructor?._id.jobTitle }}
          </p>

          <div style="text-align: center;">
            <button class="FollowInstructor">Follow</button>
          </div>
          <br />
          <div class="instructorSocialContact">
            <a
              *ngIf="eachInstructor?._id.socialMedia.facebook"
              [href]="eachInstructor?._id.socialMedia.facebook"
              target="_blank"
            >
              <i class="socialmedia mr-3 fab fa-facebook-f"></i>
            </a>
            <a
              *ngIf="eachInstructor?._id.socialMedia.linkedin"
              [href]="eachInstructor?._id.socialMedia.linkedin"
              target="_blank"
            >
              <i class="socialmedia mr-3 fab fa-linkedin-in"></i>
            </a>

            <a
              *ngIf="eachInstructor?._id.socialMedia.twitter"
              [href]="eachInstructor?._id.socialMedia.twitter"
              target="_blank"
            >
              <i class="socialmedia fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
