$mainColor: #ff754e;
$secondMainColor: #ffffffff;
$backgroundImge: linear-gradient($mainColor, #ff9374);
$textAlign: center;

@import "../../../shared/Scss/course-card-style.scss";

.favouritHeader {
    font-size: 30px;
    color: #FF754E;
}

.noFavouriteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

    .noFavouriteP {
        color: #4a43db;
        font-size: 60px;
        opacity: 0.3;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}