::ng-deep {
  .lableStyle {
    width: 50%;
    color: #ff754e;
    text-align: center;
  }
}
.nextBtn {
  background-color: #ff754e;
  color: #ffffffff;
  float: right;
}

.backBtn {
  background-color: #ff754e;
  color: #ffffffff;
}
.divSubmit {
  text-align: center;
}
.submitBtn {
  background-color: #ff754e;
  color: #ffffffff;
}
